.root {
  z-index: 9999;
  position: absolute;
  padding: 1rem /* 16px */;
  border-radius: 0.25rem /* 4px */;
  border: 2px solid var(--border-color);
  background-color: #fff;
  right: 0;
  box-shadow: 1.3px 1.7px 10.6px -17px rgba(0, 0, 0, 0.085),
    4.5px 5.6px 33.2px -17px rgba(0, 0, 0, 0.125),
    20px 25px 98px -17px rgba(0, 0, 0, 0.21);
}
