.menu {
  text-align: center;
}

.price {
  float: right;
  font-size: 1.2em;
  color: rgb(66, 123, 66);
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255, 55, 0);
  flex-grow: 1;
}

.ordering {
  display: inline-flex;
  margin-right: 1rem;
}

.info {
  justify-content: flex-end;
  display: flex;
}