.root {
  cursor: not-allowed;
}

.icon {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: rgb(107 114 128);
}

.icon_enabled {
  &:hover {
    transform: scaleX(1.25) scaleY(1.25);
    color: rgb(74, 222, 128);
  }
}
