.root {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 30px;
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  text-align: center;
  font-weight: bold;
}

.item {
  display: inline-flex;
  justify-content: space-between;

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

.textarea {
  width: 400px;
  margin-left: 50px;
}

.button__container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.rating {
  float: right;
}
