.root {
  border: 2px solid #57282817;
  border-radius: 10px;
  padding: 10px;
  min-width: 480px;
  max-width: 480px;
  flex-wrap: wrap;
  justify-content: space-between;

  & > h1 {
    text-align: center;
  }

  &:hover {
    background-color: #f9f9d6d4;
    transition: all 0.3s ease-in;
  }
}
