.root {
  align-items: stretch;
  height: 9rem;
  display: flex;
}

.header {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: calc(100% - 2 * var(--app-padding));
  height: inherit;
  display: flex;
  position: fixed;
  background-color: #fff4ed;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
}

.block__top {
  display: flex;
  justify-content: flex-end;
}

.userAuth {
  margin-right: 1.75rem /* 28px */;
}
