.root {
  align-items: stretch;
  height: 7rem;
  display: flex;
}

.header {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: calc(100% - 2 * var(--app-padding));
  height: inherit;
  display: flex;
  position: fixed;
  background-color: #fff4ed;
  padding: 0 20px;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  flex-grow: 1;
}

.block__top {
  display: flex;
  justify-content: space-between;
}

.controls {
  justify-content: flex-end;
}

.cart {
  margin-top: 0.5rem /* 8px */;
  &:hover {
    cursor: pointer;
  }
}
