.root {
  align-items: stretch;
  height: 9rem;
  display: flex;
}

.header {
  justify-content: center;
  align-items: center;
  width: calc(100% - 2 * var(--app-padding));
  height: inherit;
  display: flex;
  position: fixed;
  background-color: #fff4ed;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-center {
  text-align: center;
}
